/notebooks/archive
/src/archive
/mlruns
/cloud
/exp/leukemia_base/correlation_matrix.png
*.arff
*.pth
*.npy
*.gz
*.pkl
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-labels-idx1-ubyte
